
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.button{
    background-color: red;
    color: white;
    border: 0px;
    border-color: red;
    font-size: 22px;
    padding:10px;
    border-radius: 5px;
    display: flex;
    float: right;
    
    

}
body{
    margin: 0;
}
.container55{
    align-items: center;
    display:flex;

}
.signin{
    float:right;
    
    border-color: red;
    border-radius: 5px;;
    font-size:22px;
    color:white;
    background-color:red;
    }

   
  .signbox{

    margin-right: 10px;
    margin-top: -40px;
  }  



.netflix{
    color:red;
    font-size:400%;
    font-family: 'Lora', serif;
}
#firstbox{
    margin-bottom: 20px;
    height: 1200px;
}

header{
    padding:28px 0px 0px;
    margin: 10px 30px;
    
}

    

#first{
    background-image: url( img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    max-height: 800px;
    background-image:fix;
    
    
    margin: 0;

    
    }
    
 mid>section>article>p{
    color:white;
    filter: brightness(500%);
    -webkit-filter: brightness(500%);
 }

 #submit-button{
    background-color: red;
    color: white;
    border: 0px;
    border-color: red;
    font-size: 50%;
    padding:10px;
    border-radius: 5px;
     
 }
#email-box{
    font-size: 32px;
    padding:4px;
}
mid{
    font-size: 350%;
    text-align: center;
}
.low-line p{
    font-size:22px;
    color: white;

}
#second>section>article>p{
    color: white;
}

#second{
    
    height:410px;
    font-family: 'Open Sans', sans-serif;
    
    
    background-color:black;
    margin:0px;
    border-width: 7px 0px;
    border-color: grey;
    border-style:solid;
    padding: 30px;
    
}
#container{
    display: flex;
    
    align-items: center;
    
}
.cont-parts{
    margin: auto;
}

#second>section>figure{
    float:right;
}
.tv{
    float:right;
}
#enjoy{
    font-size: 350%;
    color:white;
    padding-bottom: 0px;
    margin: 20px;

}

#watch{
    color:white;
    font-size:200%;
    margin: 20px;
    margin-top: 45px;

}
/* #imagein{
   
} */
#third{
    height:28em;
    font-family: 'Open Sans', sans-serif;
    background-color:black;
    margin:0px;
    border-width: 0px 0px 7px 0px;
    border-color: grey;
    border-style:solid;
    padding-right : 75px;

}
#container2{
    display: flex;
    float:right;
    align-self: center;
    padding-right: 0px;
    
    

}
#content{
    margin:50px;
    float:right;
    
    
}
#image2{
    
    margin: 0em;
    
}
    
    
    


.download{
    color:white;
    font-size:350%;


}
.save{
    color:white;
    font-size:  1.6em ;
    
    
    
}
#fourth{
    height:466px;
    font-family: 'Open Sans', sans-serif;
    
    
    background-color:black;
    margin:0px;
    border-width: 0px 0px 7px 0px;
    border-color: grey;
    border-style:solid;
    padding: 30px;
    
    
}
.watch1{
    color:white;
    font-size:350%;
}
.stream{
    color:white;
    font-size:180% ;
}

#container3{
    
    padding: 1%;
    display: flex;
    align-items: center;
    
}
.cont-parts2{
    margin: auto;
}
#watch1{
    font-size: 350%;
    color:white;
    padding-bottom: 0px;
    margin: 20px;
}
#stream{
    color:white;
    font-size:200%;
    margin: 20px;
    margin-top: 45px;

}
#image-block{
    float:right
}

#fifth{
    height:auto;
     font-family: 'Open Sans', sans-serif;
    background-color:black;
    margin:0px;
    border-width: 0px 0px 7px 0px;
    border-color: grey;
    border-style:solid;
    padding: 30px;
}
.frequent{
    text-align: center;
    color: white;
    font-size:3.5em;
}
#multibox{
    
    display:block;
    
}


#multibox{
    text-align: center;
    align-self:center;
    align-content: center;
    
    
}
#box1{
    
    text-align: center;
}
.but1{
    padding: 1% 8% 1% 3%;
    margin:1% 23% 1%;
    font-weight: 375;
    position: relative;
    width: 60%;
    border: 0;
    font-size: 150%;
    
    display:flex;
    background-color:#303030;
    color:white;
}

#ready-block{
    
    
    text-align: center;
    margin-top: auto;
    padding-top: 5%;
    
}

.low-ready{
    font-size: 175%;
    font-weight:375;
    color:white;
    font-family: 'Open Sans', sans-serif;
    


}
#belowready{
    text-align: center;
    display: block;

}
.low-form{
    padding-top: 3%;

}
.low-button{

font-size: 225%;    
}

@media only screen and (max-width: 600px){
#container2{
    
    text-align: center;
    
}
.download{
    font-size: 35px;

}
#third{
    overflow: hidden;
}

}

@media (min-width: 576px) { 


 }